# Copyright (C) 2019 Intel Corporation.  All rights reserved.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: hadolint dockerfiles

on:
  # will be triggered on PR events
  pull_request:
    types:
      - opened
      - synchronize
    paths:
      - "**/Dockerfile*"
      - ".github/workflows/hadolint_dockerfiles.yml"
  push:
    branches:
      - main
      - "dev/**"
    paths:
      - "**/Dockerfile*"
      - ".github/workflows/hadolint_dockerfiles.yml"
  # allow to be triggered manually
  workflow_dispatch:

# Cancel any in-flight jobs for the same PR/branch so there's only one active
# at a time
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  run-hadolint-on-dockerfiles:
    runs-on: ubuntu-22.04

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      # on default, hadolint will fail on warnings and errors
      - name: Run hadolint on dockerfiles
        run: |
          docker pull hadolint/hadolint:latest-debian
          find . -name "*Dockerfile*" | while read dockerfile; do
            echo "run hadolint on $dockerfile:"
            docker run --rm -i hadolint/hadolint:latest-debian hadolint - <"$dockerfile"
            echo "successful"
          done